.git
Makefile
*.in
*.m4
*.cache
*.guess
*.sub
configure
depcomp
install-sh
missing
*.o
*.a
*.exe
*.bat
*.dge
*.zip
*~.c
*~.cpp
*~.h
*~.txt
dosbox
.deps
*.Po
*.log
*.status
*.diff
stamp-h1